<a 
  type="button" 
  role="button"
  href="/post/create"
  class="btn btn-primary btn-lg position-fixed bottom-0 start-50 translate-middle"
>
+ New Post
</a>
{{#each posts as |post|}}
    <a class="text-reset text-decoration-none" href="/post/{{post.id}}/edit">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <div><strong>{{post.title}}</strong></div>
        <div><small>Posted by
            {{post.user.name}}
            on
            {{format_date post.date_created}}</small></div>
      </div>
    </div>
  </a>
{{/each}}