<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form class="form login-form">
          <div class="mb-3">
            <label for="email-login" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email-login"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label for="password-login" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password-login"
              required="required"
            />
          </div>
          <button class="btn btn-primary w-100" type="submit">Login!</button>
        </form>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Sign Up
      </div>
      <div class="card-body">
        <form class="form signup-form">
          <div class="mb-3">
            <label for="name-signup" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name-signup"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label for="email-signup" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email-signup"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label for="password-signup" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password-signup"
              required="required"
            />
          </div>
          <button class="btn btn-primary w-100" type="submit">Sign Up!</button>
        </form>
      </div>
    </div>

    {{! <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form> }}
  </div>
</div>

<script src="./js/login.js"></script>