nav .logo {
  font-size: 24px;
  font-weight: 700;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.mt-7 {
  margin-top: 5rem!important
}

a > .card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0.0, 1, 1);;
}

a > .card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  transition: box-shadow 300ms cubic-bezier(0.0, 0.0, 0.2, 1);
}

nav a {
  cursor: pointer;
}
